
<div class="container-v">
  <p class="question">Question: <%= @question %></p>
  <p class="answer">Answer: <%= @ans %></p>
  <%= link_to "Ask another question", ask_path, { class: "submit-btn" } %>
</div>
