<div class="container">
  <form action="/answer" method="get" class="form">
    <input type="text" name="question" class="txt-input">
    <input type="submit" value="ask question" class="submit-btn">
  </form>
</div>
